<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" 
         colors="true" 
         cacheResult="false"
         testdox="true"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTodoAnnotatedTests="false">
  <testsuites>
    <testsuite name="AgainCo Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="junit.xml"/>
  </logging>
</phpunit>